################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/iitSystemWeb/.vs/iitSystemWeb
/iitSystemWeb/bin
/iitSystemWeb/obj
/iitMSGWeb/bin
/iitMSGWeb/obj
/iitDataWeb/bin
/iitDataWeb/obj
/iitLogWeb/bin
/iitLogWeb/obj
/iitToolsWeb/bin
/iitToolsWeb/obj/Release\net9.0
/iitSystemWeb/.vs/ProjectEvaluation
